@page "/fetchdata"
@using BlazorIdentity.Services;
@using IdentityModel.Client;
@using System.Security.Claims;
@using System.Text.Json;
@attribute [Authorize]

<PageTitle>Clientes</PageTitle>

<h1>Clientes</h1>

@if (clientes == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>CEP</th>
                <th>Endereço</th>
                <th>Imagem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in clientes)
            {
                <tr>
                    <td>@cliente.cd_codigo</td>
                    <td>@cliente.ds_nome</td>
                    <td>@cliente.ds_fone</td>
                    <td>@cliente.ds_email</td>
                    <td>@cliente.ds_bairro</td>
                    <td>@cliente.ds_cidade</td>
                    <td>@cliente.ds_cep</td>
                    <td>@cliente.ds_endereco</td>
                    <td>@cliente.ds_imagem</td>
                </tr>
            }
        </tbody>
    </table>
}
